.registration-form {
  width: 40%;
  margin: auto;
  margin-top: 2.5%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.registration-form h2 {
  margin-bottom: 20px;
}

.registration-form label {
  display: block;
  margin-bottom: 5px;
}

.registration-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  